<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appenders -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p: %c - %m%n" />
		</layout>
	</appender>

	<!-- Loggers -->
	<logger name="org.springframework">
		<level value="warn" />
	</logger>
	
	<logger name="org.springframework.integration.handler.LoggingHandler">
		<level value="info" />
	</logger>
	
	<logger name="ACCEPTED TICKET">
		<level value="info" />
	</logger>
	
	<logger name="REJECTED TICKET">
		<level value="info" />
	</logger>
	
	<logger name="ROUTED TO NINA">
		<level value="info" />
	</logger>
	
	<logger name="ROUTED TO BILL LUMBERGH">
		<level value="info" />
	</logger>
	
	<logger name="ROUTED TO MICHAEL BOLTON">
		<level value="info" />
	</logger>
	
	<logger name="ROUTED TO PETER GIBBONS">
		<level value="info" />
	</logger>
	
	<logger name="TICKET BATCH">
		<level value="info" />
	</logger>
	
	<logger name="WIRE TAP">
		<level value="info" />
	</logger>

	<logger name="com.dss.slei">
		<level value="debug" />
	</logger>

	<!-- Root Logger -->
	<root>
		<priority value="warn" />
		<appender-ref ref="console" />
	</root>

</log4j:configuration>